@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* colores tecnologias */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 100%;
  font-family: "Funnel Sans", serif;
  line-height: 1.5;
  background-color: #0b193c;
  color: #C5C8D0;
  text-rendering: optimizeLegibility;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.header-principal nav {
  background-color: #0b193c;
  margin: 0 auto;
  color: #fff;
}
.header-principal nav .nav-container {
  padding: 0 2rem;
}
.header-principal nav .nav-container .button-toggle {
  color: #fff;
}
.header-principal nav .nav-container .logo-a {
  color: #fff;
}
.header-principal nav .nav-container div {
  max-width: 1200px;
  margin: 0 auto;
}
.header-principal nav .nav-container div .logo-a {
  color: #fff;
  display: none;
}
.header-principal nav .nav-container div ul {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-principal nav .nav-container div ul li {
  display: flex;
  gap: 2rem;
}
.header-principal nav .nav-container div ul li .nav-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
.header-principal nav .nav-container div ul li .nav-link.active {
  color: #c3c3c3;
}
.header-principal nav .nav-container .button-cv {
  display: flex;
  color: #fff;
}

.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item {
  padding: 0.4rem 0.9rem;
  text-align: center;
  text-wrap: balance;
  border-radius: 0.25rem;
  text-transform: uppercase;
  transition: 0.5s ease;
  font-size: clamp(0.7rem, 5vw, 0.9rem);
  cursor: pointer;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item:hover {
  transform: scale(1.1);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-html.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-html.habilidad-item {
  background-color: #E34F26;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-html.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-html.habilidad-item:hover {
  box-shadow: 0 0 30px rgba(227, 79, 38, 0.8), 0 2px 4px rgba(227, 79, 38, 0.6);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-css.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-css.habilidad-item {
  background-color: #1572B6;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-css.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-css.habilidad-item:hover {
  box-shadow: 0 0 30px rgba(21, 114, 182, 0.8), 0 2px 4px rgba(21, 114, 182, 0.6);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-sass.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-sass.habilidad-item {
  background-color: #CF649A;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-sass.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-sass.habilidad-item:hover {
  box-shadow: 0 0 30px rgba(207, 100, 154, 0.8), 0 2px 4px rgba(207, 100, 154, 0.6);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-bootstrap.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-bootstrap.habilidad-item {
  background-color: #7952B3;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-bootstrap.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-bootstrap.habilidad-item:hover {
  box-shadow: 0 0 30px rgba(121, 82, 179, 0.8), 0 2px 4px rgba(121, 82, 179, 0.6);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-js.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-js.habilidad-item {
  background-color: #988810;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-js.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-js.habilidad-item:hover {
  box-shadow: 0 0 30px rgba(152, 136, 16, 0.8), 0 2px 4px rgba(152, 136, 16, 0.6);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-php.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-php.habilidad-item {
  background-color: #4F5B93;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-php.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-php.habilidad-item:hover {
  box-shadow: 0 0 30px rgba(79, 91, 147, 0.8), 0 2px 4px rgba(79, 91, 147, 0.6);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-mysql.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-mysql.habilidad-item {
  background-color: #00758F;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-mysql.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-mysql.habilidad-item:hover {
  box-shadow: 0 0 30px rgba(0, 117, 143, 0.8), 0 2px 4px rgba(0, 117, 143, 0.6);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-git.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-git.habilidad-item {
  background-color: #D16A33;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-git.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-git.habilidad-item:hover {
  box-shadow: 0 0 30px #E77A53, 0 2px 4px #C45928;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-github.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-github.habilidad-item {
  background-color: #24292E;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .color-github.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .color-github.habilidad-item:hover {
  box-shadow: 0 0 30px #40454F, 0 2px 4px #24292E;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-trabajo.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-trabajo.habilidad-item {
  background-color: #512DA8;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-trabajo.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-trabajo.habilidad-item:hover {
  box-shadow: 0 0 30px rgba(81, 45, 168, 0.8), 0 2px 4px rgba(81, 45, 168, 0.6);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-puntualidad.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-puntualidad.habilidad-item {
  background-color: #4A6C89;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-puntualidad.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-puntualidad.habilidad-item:hover {
  box-shadow: 0 0 30px rgba(74, 108, 137, 0.8), 0 2px 4px rgba(74, 108, 137, 0.6);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-autodidacta.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-autodidacta.habilidad-item {
  background-color: #E67E22;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-autodidacta.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-autodidacta.habilidad-item:hover {
  box-shadow: 0 0 30px rgba(230, 126, 34, 0.8), 0 2px 4px rgba(230, 126, 34, 0.6);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-responsabilidad.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-responsabilidad.habilidad-item {
  background-color: #6A7F7A;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-responsabilidad.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-responsabilidad.habilidad-item:hover {
  box-shadow: 0 0 30px rgba(106, 127, 122, 0.8), 0 2px 4px rgba(106, 127, 122, 0.6);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-organizacion.habilidad-item, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-organizacion.habilidad-item {
  background-color: #2C3E50;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias .habilidad-organizacion.habilidad-item:hover, .main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-organizacion.habilidad-item:hover {
  box-shadow: 0 0 30px #34495E, 0 2px 4px #5D6D7E;
}

.h2-section-title {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2px;
}

.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .buttons-codigo .buttons-codigo-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
  background-color: #172340;
  border: 1px solid #9d9d9d;
  border-radius: 2rem;
  color: #fff;
  transition: 0.5s ease;
  /* &:hover {
      transform: scale(1.1);
  } */
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .buttons-codigo .buttons-codigo-item i {
  font-size: 1.2rem;
}

.main-principal {
  max-width: 1200px;
  padding: 0 1rem 8rem 1rem;
  margin: 0 auto;
}
.main-principal .inicio-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
  gap: 2rem;
  padding: 12rem 0 4rem 0;
}
.main-principal .inicio-section .inicio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.main-principal .inicio-section .inicio-text h1 {
  color: #fff;
}
.main-principal .inicio-section .inicio-text h2 {
  font-size: 1.25rem;
}
.main-principal .inicio-section .inicio-text .text-redes {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.main-principal .inicio-section .inicio-text .text-redes .text-redes-button {
  display: flex;
  font-size: 25px;
  gap: 10px;
  border: 1px solid;
  padding: 6px 13px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}
.main-principal .inicio-section .img-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.main-principal .inicio-section .img-inicio img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5rem;
  filter: drop-shadow(0px 4px 4px #9b9b9b) grayscale(0%);
  transition: filter 1s ease;
  cursor: pointer;
}
.main-principal .inicio-section .img-inicio img:hover {
  filter: drop-shadow(0px 4px 4px #9b9b9b) grayscale(100%);
}
.main-principal .habilidades-section {
  display: grid;
  padding: 4rem 0;
  gap: 2.7rem;
}
.main-principal .habilidades-section .habilidades-contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 2rem;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 1.7rem 1.5rem;
  background-color: #172340;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-radius: 0.75rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes:hover {
  box-shadow: 0 0 10px #172340, 0 0 20px #1e1e73, 0 0 40px #1e1e73, 0 0 80px #1e1e73;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;
}
.main-principal .proyectos-section {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  padding: 4rem 0;
}
.main-principal .proyectos-section .proyectos-contenedor {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
  gap: 2rem;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item figure {
  overflow: hidden;
  border-radius: 0.75rem;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item figure .img-proyectos {
  transition: 1s ease;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item figure .img-proyectos:hover {
  transform: scale(1.2);
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyecto-h3 {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .proyectos-tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: 0.88rem;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .buttons-codigo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .buttons-codigo .buttons-codigo-item {
  justify-content: center;
}
.main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .buttons-codigo .buttons-codigo-item:hover {
  box-shadow: 0 0 10px #172340, 0 0 20px #1e1e73, 0 0 40px #1e1e73, 0 0 80px #1e1e73;
}
.main-principal .slider-section {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  padding: 4rem 0;
}
.main-principal .slider-section .carousel-texto-grid {
  display: grid;
  gap: 2.7rem;
}
.main-principal .slider-section .carousel-texto-grid .carousel-texto h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1.4rem;
  text-wrap: balance;
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
}
.main-principal .slider-section .carousel-texto-grid .carousel-texto h2 span {
  display: block;
}
.main-principal .slider-section .carousel-texto-grid .carousel-texto h3 {
  font-size: 1.3rem;
}
.main-principal .slider-section .carousel-texto-grid .slider-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  /* .carousel-control-prev,
  .carousel-control-next {} */
}
.main-principal .slider-section .carousel-texto-grid .slider-contenedor .carousel-inner .carousel-item img {
  width: 100%;
  min-height: 400px;
  object-fit: cover;
}

.footer-principal {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 1rem;
  align-items: center;
  padding: 3rem 1rem;
}
.footer-principal .footer-redes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}
.footer-principal .footer-redes .redes-footer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
  border-radius: 60%;
  /* &:hover {
      box-shadow: 0px 0px 32px rgba(224, 224, 224, 0.466); // Aplica el box-shadow al hacer hover
      transform: scale(1.1); // Puedes ajustar la escala si quieres otro efecto
  } */
}

@media screen and (min-width: 600px) {
  .header-principal nav .nav-container div {
    padding: 0 1rem;
  }
  .main-principal .proyectos-section .proyectos-contenedor .proyectos-item .proyectos-texto .buttons-codigo {
    grid-template-columns: repeat(2, 140px);
  }
}
@media screen and (min-width: 992px) {
  .header-principal nav .nav-container .logo-a {
    display: none;
  }
  .header-principal nav .nav-container div .logo-a {
    display: flex;
  }
  .header-principal nav .nav-container .button-cv {
    font-size: 1.5rem;
  }
  .main-principal .slider-section .carousel-texto-grid {
    grid-template-columns: 500px 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
