@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 100%;
  font-family: "Funnel Sans", serif;
  line-height: 1.5;
  background-color: #0b193c;
  color: #C5C8D0;
  text-rendering: optimizeLegibility;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.header-principal nav {
  background-color: #0b193c;
  margin: 0 auto;
  color: #fff;
}
.header-principal nav .nav-container {
  padding: 0 2rem;
}
.header-principal nav .nav-container .button-toggle {
  color: #fff;
}
.header-principal nav .nav-container .logo-a {
  color: #fff;
}
.header-principal nav .nav-container div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.header-principal nav .nav-container div .logo-a {
  color: #fff;
  display: none;
}
.header-principal nav .nav-container div ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-principal nav .nav-container div ul li {
  display: flex;
  gap: 2rem;
}
.header-principal nav .nav-container div ul li .nav-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
.header-principal nav .nav-container div ul li .nav-link.active {
  color: #c3c3c3;
}
.header-principal nav .nav-container .button-cv {
  display: flex;
  color: #fff;
}

.main-principal {
  max-width: 1200px;
  padding: 10rem 2rem 8rem 2rem;
  margin: 0 auto;
}
.main-principal .inicio-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
  gap: 2rem;
}
.main-principal .inicio-section .inicio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.main-principal .inicio-section .inicio-text h1 {
  color: #fff;
}
.main-principal .inicio-section .inicio-text h2 {
  font-size: 1.25rem;
}
.main-principal .inicio-section .inicio-text .text-redes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.main-principal .inicio-section .inicio-text .text-redes a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
  background-color: #172340;
  border: 1px solid #9d9d9d;
  border-radius: 2rem;
  color: #fff;
}
.main-principal .inicio-section .inicio-text .text-redes a i {
  font-size: 1.2rem;
}
.main-principal .inicio-section .img-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.main-principal .inicio-section .img-inicio img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}
.main-principal .habilidades-section {
  display: grid;
  padding: 5rem 0;
  gap: 2.7rem;
}
.main-principal .habilidades-section .habilidades-title {
  color: #fff;
}
.main-principal .habilidades-section .habilidades-contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 2rem;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 2rem 2.5rem;
  background-color: #172340;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-radius: 0.75rem;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item {
  padding: 0.4rem 0.9rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  transition: 0.5s ease;
  cursor: pointer;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item:hover {
  transform: scale(1.2);
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item.color-html {
  background-color: #E34F26;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item.color-css {
  background-color: #1572B6;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item.color-sass {
  background-color: #CF649A;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item.color-bootstrap {
  background-color: #7952B3;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item.color-js {
  background-color: #988810;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item.color-php {
  background-color: #4F5B93;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item.color-mysql {
  background-color: #00758F;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item.habilidad-trabajo {
  background-color: #512DA8;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item.habilidad-puntualidad {
  background-color: #4A6C89;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item.habilidad-autodidacta {
  background-color: #E67E22;
}
.main-principal .habilidades-section .habilidades-contenedor .habilidades-lenguajes .habilidades-lenguajes-lista .habilidad-item.habilidad-responsabilidad {
  background-color: #6A7F7A;
}

@media screen and (min-width: 992px) {
  .header-principal nav .nav-container .logo-a {
    display: none;
  }
  .header-principal nav .nav-container div .logo-a {
    display: flex;
  }
  .header-principal nav .nav-container .button-cv {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
