@use "../utilidades/variables";

.header-principal {
    nav {
        background-color: variables.$color-1;
        margin: 0 auto;
        color: #fff;

        div {
            padding: 0 2rem;
            max-width: 1200px;

            .logo-a {
                color: variables.$color-white;
            }

            .button-toggle {
                color: variables.$color-white;
            }

            div {
                ul {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    li {
                        display: flex;
                        gap: 2rem;

                        .nav-link {
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: variables.$color-white;

                            &.active {
                                color: variables.$color-active;
                            }
                        }
                        .button-cv {
                            display: flex;
                        }

                    }
                }

            }

            .button-cv {
                display: none;
            }
        }
    }
}