@use "../utilidades/variables";


.header-principal {
    nav {
        background-color: variables.$color-1;
        margin: 0 auto;
        color: #fff;
        box-shadow:
            0 0 10px variables.$color-3-shadow,
            0 0 20px variables.$color-3-shadow-secondary,
            0 0 40px variables.$color-2,
            0 0 80px variables.$color-2;

        .nav-container {
            // max-width: 1200px;
            padding: 0 2rem;

            .button-toggle {
                color: variables.$color-white;

            }

            .logo-a {
                color: variables.$color-white;

            }



            div {
                max-width: 1200px;
                margin: 0 auto;

                .logo-a {
                    color: variables.$color-white;
                    display: none;
                }

                ul {
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    align-items: center;

                    li {
                        display: flex;
                        gap: 2rem;

                        .nav-link {
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: variables.$color-white;
                            cursor: pointer;

                            &.active {
                                color: variables.$color-active;
                            }
                        }

                        // .button-cv {
                        //     display: flex;
                        // }

                    }
                }



            }

            .button-cv {
                display: flex;
                color: variables.$color-white;

            }
        }
    }
}