@use "../utilidades/variables";
@use "../utilidades/mixin";

.main-principal {
    max-width: 1200px;
    padding: 8rem 2rem 8rem 2rem;
    margin: 0 auto;
    .inicio-section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
        gap: 2rem;
        .inicio-text {
            @include mixin.flex-direction-column;
            justify-content: center;
            gap: 3rem;
            h1 {
                color: variables.$color-white;

            }
            h2 {
                font-size: 1.25rem;
            }
            .text-redes {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 0.5rem 1rem 0.5rem  1rem;
                    font-size: 1rem;
                    background-color: variables.$color-3;
                    border: 1px solid #9d9d9d;
                    border-radius: 2rem;
                    color: variables.$color-white;
                    i {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .img-inicio {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            img {
                @include mixin.img-responsiva;
                border-radius: 50%;
            }
        }
    }

    .habilidades-section {
        .habilidades-item {
            .habilidades-title {

            }

            .habilidades-lenguajes {
                padding: 2rem 4rem;
                background-color: variables.$color-3;
                border: 1px solid #ffffff1a;
                h3 {

                }

                .habilidades-lenguajes-lista {
                    display: flex;
                    gap: 2rem;
                    .lenguajes-item {

                    }
                }
            }
        }
    }
}