@use "../utilidades/variables";
@use "../utilidades/mixin";

// Definir los placeholders al inicio
%habilidad-item {
    padding: 0.4rem 0.90rem;
    text-align: center;
    text-wrap: balance;
    border-radius: 0.25rem;
    text-transform: uppercase;
    transition: 0.5s ease;
    font-size: clamp(0.7rem, 5vw, 0.9rem);
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    &.color-html {
        background-color: variables.$color-html;

        &:hover {
            box-shadow: 0 0 30px variables.$color-html-shadow, 0 2px 4px variables.$color-html-shadow-secondary;
        }
    }

    &.color-css {
        background-color: variables.$color-css;

        &:hover {
            box-shadow: 0 0 30px variables.$color-css-shadow, 0 2px 4px variables.$color-css-shadow-secondary;
        }
    }

    &.color-sass {
        background-color: variables.$color-sass;

        &:hover {
            box-shadow: 0 0 30px variables.$color-sass-shadow, 0 2px 4px variables.$color-sass-shadow-secondary;
        }
    }

    &.color-bootstrap {
        background-color: variables.$color-bootstrap;

        &:hover {
            box-shadow: 0 0 30px variables.$color-bootstrap-shadow, 0 2px 4px variables.$color-bootstrap-shadow-secondary;
        }
    }

    &.color-js {
        background-color: variables.$color-js;

        &:hover {
            box-shadow: 0 0 30px variables.$color-js-shadow, 0 2px 4px variables.$color-js-shadow-secondary;
        }
    }

    &.color-php {
        background-color: variables.$color-php;

        &:hover {
            box-shadow: 0 0 30px variables.$color-php-shadow, 0 2px 4px variables.$color-php-shadow-secondary;
        }
    }

    &.color-mysql {
        background-color: variables.$color-mysql;

        &:hover {
            box-shadow: 0 0 30px variables.$color-mysql-shadow, 0 2px 4px variables.$color-mysql-shadow-secondary;
        }
    }

    &.color-git {
        background-color: variables.$color-git;

        &:hover {
            box-shadow: 0 0 30px variables.$color-git-shadow, 0 2px 4px variables.$color-git-shadow-secondary;
        }
    }

    &.color-github {
        background-color: variables.$color-github;

        &:hover {
            box-shadow: 0 0 30px variables.$color-github-shadow, 0 2px 4px variables.$color-github-shadow-secondary;
        }
    }

    &.habilidad-trabajo {
        background-color: variables.$color-trabajo;

        &:hover {
            box-shadow: 0 0 30px variables.$color-trabajo-shadow, 0 2px 4px variables.$color-trabajo-shadow-secondary;
        }
    }

    &.habilidad-puntualidad {
        background-color: variables.$color-puntualidad;

        &:hover {
            box-shadow: 0 0 30px variables.$color-puntualidad-shadow, 0 2px 4px variables.$color-puntualidad-shadow-secondary;
        }
    }

    &.habilidad-autodidacta {
        background-color: variables.$color-autodidacta;

        &:hover {
            box-shadow: 0 0 30px variables.$color-autodidacta-shadow, 0 2px 4px variables.$color-autodidacta-shadow-secondary;
        }
    }

    &.habilidad-responsabilidad {
        background-color: variables.$color-responsabilidad;

        &:hover {
            box-shadow: 0 0 30px variables.$color-responsabilidad-shadow, 0 2px 4px variables.$color-responsabilidad-shadow-secondary;
        }
    }

    &.habilidad-organizacion {
        background-color: variables.$color-organizacion;

        &:hover {
            box-shadow: 0 0 30px variables.$color-organizacion-shadow, 0 2px 4px variables.$color-organizacion-shadow-secondary;
        }
    }
}

.h2-section-title {
    color: variables.$color-white;
    font-size: 2rem;
    letter-spacing: 2px;
}

%text-redes-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    background-color: variables.$color-3;
    border: 1px solid #9d9d9d;
    border-radius: 2rem;
    color: variables.$color-white;
    transition: 0.5s ease;

    i {
        font-size: 1.2rem;
    }

    /* &:hover {
        transform: scale(1.1);
    } */
}

.main-principal {
    max-width: 1200px;
    padding: 0 1rem 8rem 1rem;

    margin: 0 auto;

    .inicio-section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
        gap: 2rem;
        padding: 12rem 0 4rem 0;

        .inicio-text {
            @include mixin.flex-direction-column;
            justify-content: center;
            gap: 3rem;

            h1 {
                color: variables.$color-white;

            }

            h2 {
                font-size: 1.25rem;
            }

            .text-redes {
                display: flex;
                gap: 1rem;
                align-items: center;
                flex-wrap: wrap;

                .text-redes-button {
                    display: flex;
                    font-size: 25px;
                    gap: 10px;
                    border: 1px solid;
                    padding: 6px 13px;
                    border-radius: 50px;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .img-inicio {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 400px;
            margin: 0 auto;

            img {
                @include mixin.img-responsiva;
                border-radius: 5rem;
                filter: drop-shadow(0px 4px 4px variables.$color-drop-shadow-1) grayscale(0%);
                transition: filter 1s ease;
                cursor: pointer;

                &:hover {
                    filter: drop-shadow(0px 4px 4px variables.$color-drop-shadow-1) grayscale(100%);
                }

            }
        }
    }



    .habilidades-section {
        display: grid;
        padding: 4rem 0;
        gap: 2.7rem;



        .habilidades-contenedor {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
            gap: 2rem;

            .habilidades-lenguajes {
                @include mixin.flex-direction-column;
                gap: 1.7rem;
                padding: 1.7rem 1.5rem;
                background-color: variables.$color-3;
                border: 1px solid #ffffff1a;
                border-radius: 0.75rem;
                transition: 0.3s ease;
                cursor: pointer;

                &:hover {
                    box-shadow:
                        0 0 10px variables.$color-3-shadow,
                        0 0 20px variables.$color-3-shadow-secondary,
                        0 0 40px variables.$color-2,
                        0 0 80px variables.$color-2;
                }

                .habilidades-lenguajes-lista {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.9rem;

                    .habilidad-item {
                        @extend %habilidad-item;
                    }
                }
            }
        }
    }

    .proyectos-section {
        @include mixin.flex-direction-column;
        gap: 2.7rem;
        padding: 4rem 0;



        .proyectos-contenedor {
            @include mixin.flex-direction-column;
            gap: 3rem;

            .proyectos-item {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
                gap: 2rem;

                figure {
                    overflow: hidden;
                    border-radius: .75rem;

                    .img-proyectos {
                        transition: 1s ease;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        object-fit: cover;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }

                .proyectos-texto {
                    @include mixin.flex-direction-column;
                    gap: 1.5rem;
                    justify-content: center;

                    .proyecto-h3 {
                        color: variables.$color-white;
                        font-size: 1.40rem;
                        text-transform: uppercase;
                    }

                    .proyectos-tecnologias {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.88rem;

                        .habilidad-item {
                            @extend %habilidad-item;
                        }
                    }

                    .buttons-codigo {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        gap: 1rem;

                        .buttons-codigo-item {
                            @extend %text-redes-button;
                            justify-content: center;

                            &:hover {
                                box-shadow:
                                    0 0 10px variables.$color-3-shadow,
                                    0 0 20px variables.$color-3-shadow-secondary,
                                    0 0 40px variables.$color-2,
                                    0 0 80px variables.$color-2;
                            }


                        }
                    }
                }
            }
        }
    }

    .slider-section {
        display: flex;
        flex-direction: column;
        gap: 2.7rem;
        padding: 4rem 0;


        .carousel-texto-grid {

            display: grid;
            gap: 2.7rem;
            .carousel-texto {
                h2 {
                    font-size: 2.5rem;
                    color: variables.$color-white;
                    margin-bottom: 1.4rem; 
                    text-wrap: balance;
                    border-bottom: 1px solid variables.$color-white;  
                    padding-bottom: 1rem;
                    span {
                        display: block;
                    }
                }
                h3  {
                    font-size: 1.3rem;
                }
            }
            .slider-contenedor {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 800px;
                width: 100%;
                margin: 0 auto;

                .carousel-inner {
                    .carousel-item {
                        img {
                            width: 100%;
                            min-height: 400px;
                            object-fit: cover;
                        }
                    }
                }

                .carousel-control-prev,
                .carousel-control-next {}
            }
        }

    }


}