@media screen and (min-width: 992px) {

    .header-principal {
        nav {
            .nav-container {
                .logo-a {
                    display: none;
                }

                div {
                    .logo-a {
                        display: flex;
                    }

                    ul {

                        li {}
                    }



                }

                .button-cv {
                    font-size: 1.5rem;

                }
            }
        }
    }
}