@media screen and (min-width: 992px) {
    
    .header-principal {
        nav {
            div {
                div {
                    ul {

                        li {



                            .button-cv {
                                display: none;
                            }

                        }
                    }

                }

                .button-cv {
                    display: flex;
                    padding: 0.7rem 0.8rem;
                    border: 1px solid;
                }
            }
        }
    }
}
    