

$color-1: #0b193c;
$color-2: #1e1e73;
$color-3: #172340;
$color-4: #24304D;
$color-white: #fff;
$color-active: #c3c3c3;


/* colores tecnologias */
$color-html: #E34F26;
$color-css: #1572B6;
$color-sass: #CF649A;
$color-bootstrap: #7952B3;
$color-js: #988810;
$color-php: #4F5B93;
$color-mysql: #00758F;

$color-trabajo: #512DA8;
$color-puntualidad: #4A6C89;
$color-autodidacta: #E67E22;
$color-responsabilidad: #6A7F7A;