

$color-1: #212023; // Gris oscuro profundo
$color-2: #2c2d2f; // Gris carbón más claro
$color-3: #3a3b3d; // Gris neutral intermedio
$color-4: #515254; // Gris cálido
$color-white: #ffffff; // Blanco puro
$color-active: #9c9c9c; // Gris claro para estados activos
$color-drop-shadow-1: #6e6e6e; // Gris sombra sutil
$color-3-shadow: #3a3b3d; // Gris basado en $color-3
$color-3-shadow-secondary: #2c2d2f; // Gris basado en $color-2
/* colores tecnologias */
$color-html: #E34F26;
$color-css: #1572B6;
$color-sass: #CF649A;
$color-bootstrap: #7952B3;
$color-js: #988810;
$color-php: #4F5B93;
$color-mysql: #00758F;
$color-git: #D16A33; // Rojo-anaranjado de Git
$color-github: #24292E; // Negro grisáceo de GitHub


$color-trabajo: #512DA8;
$color-puntualidad: #4A6C89;
$color-autodidacta: #E67E22;
$color-responsabilidad: #6A7F7A;
$color-organizacion: #2C3E50; // Azul oscuro con toques de gris para transmitir seriedad y organización
$color-organizacion-shadow: #34495E; // Sombra más oscura para dar profundidad
$color-organizacion-shadow-secondary: #5D6D7E; // Sombra más suave para resaltar sin sobrecargar

// Colores para sombras de tecnologías (con más intensidad)
$color-html-shadow: rgba(227, 79, 38, 0.8); // Aumentando opacidad
$color-html-shadow-secondary: rgba(227, 79, 38, 0.6); // Un poco más suave

$color-css-shadow: rgba(21, 114, 182, 0.8);
$color-css-shadow-secondary: rgba(21, 114, 182, 0.6);

$color-sass-shadow: rgba(207, 100, 154, 0.8);
$color-sass-shadow-secondary: rgba(207, 100, 154, 0.6);

$color-bootstrap-shadow: rgba(121, 82, 179, 0.8);
$color-bootstrap-shadow-secondary: rgba(121, 82, 179, 0.6);

$color-js-shadow: rgba(152, 136, 16, 0.8);
$color-js-shadow-secondary: rgba(152, 136, 16, 0.6);

$color-php-shadow: rgba(79, 91, 147, 0.8);
$color-php-shadow-secondary: rgba(79, 91, 147, 0.6);

$color-mysql-shadow: rgba(0, 117, 143, 0.8);
$color-mysql-shadow-secondary: rgba(0, 117, 143, 0.6);

// Colores para sombras de habilidades (con más intensidad)
$color-trabajo-shadow: rgba(81, 45, 168, 0.8);
$color-trabajo-shadow-secondary: rgba(81, 45, 168, 0.6);

$color-puntualidad-shadow: rgba(74, 108, 137, 0.8);
$color-puntualidad-shadow-secondary: rgba(74, 108, 137, 0.6);

$color-autodidacta-shadow: rgba(230, 126, 34, 0.8);
$color-autodidacta-shadow-secondary: rgba(230, 126, 34, 0.6);

$color-responsabilidad-shadow: rgba(106, 127, 122, 0.8);
$color-responsabilidad-shadow-secondary: rgba(106, 127, 122, 0.6);
$color-footer-shadow: rgba(224, 224, 224, 0.466);

$color-git-shadow: #E77A53; // Tonalidad más clara, para resaltar
$color-git-shadow-secondary: #C45928; // Más oscuro y cálido para dar profundidad

$color-github-shadow: #40454F; // Gris más claro para la sombra primaria
$color-github-shadow-secondary: #24292E; // Mantiene el tono base oscuro